@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color:rgba(248, 240, 240, 0.867) ;
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
/* 1em = 19 px */
.logo{
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(38, 38, 206);
    font-weight: 700;
    font-size: 1.8em; 
}
.navbar a{
    text-decoration: none;
    color:  rgb(38, 38, 206);
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navbar a:hover{
    color: rgb(104, 4, 117);
}
section{
    padding: 100px 200px;
}
/* view height  */
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("hacker21.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color:rgb(222, 226, 2);
    font-size: 3em;
    font-weight: 600;
}

.cv{
    color:white;
    background-color:rgb(38, 38, 206) ;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    padding: 1.15em 2em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin: 40px;
    transition: 0.7s;
}
.cv:hover{
    background-color: rgb(38, 38, 206);
    transform: scale(1.1);
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .logo {
        font-weight: 500;
        font-size: 1em; 
    }
  .navbar a{
   padding-left: 10px;
   font-weight: 300;
   font-size: 0.8em;
    }
    section {
        padding: 80px 20px;
    }
    .cv h2{
        font-size: 1em;
    }
   .main h2 span{
    font-size: 1.3em;
    font-weight: 450;
   }
   .main h2{
    font-size: 1em;
    font-weight: 350;
   }
   .cv{
    font-size: 1em;
    padding: 1em 1.5em;
    font-weight: 450;
   }

}

